

<!--   versione v03  che utilizza viewChild --> 

<div id="contenitore_principale">

  <div>
    <h6><b>Aggiungi alla lista</b></h6>

    <label>Inserisci un testo</label>
    <input type="text"  placeholder="scrivi qualche cosa"  #inputCasella >

    <!--   versione v02  che utilizzava viewChild  
    <button (click)="onClick1(inputCasella)">Save1</button>
    <button (click)="onClick2(inputCasella.value)">Save2</button>
    -->

    <button (click)="onClick3()">Save1</button>

  </div>

  <br>

  <div>

    <h6> <b>Elemento salvato della lista</b></h6>
    <p>Hai registrato il dato {{testo_salvato}}</p>

  </div>

</div>